---
import Link from "../../components/Link.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="myTitle">
  <div>
    <h1>sidebar</h1>
    <Link href="/">home</Link>
  </div>
</BaseLayout>
