---
// components
import Heading from "../ui/Heading.astro";
---

<header aria-label="Introduction to Katie" class="hero-projects">
  <div class="rows">
    <Heading tagName="h1" size="h2">Projects Page</Heading>
    <p>Here are some recent websites and apps you can explore for yourself!</p>
  </div>
</header>
