---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import AuthorCard from "../../components/AuthorCard.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((p) => {
    return {
      params: { slug: p.slug },
      props: { title: p.data.title, collection: p.collection },
    };
  });
}

const { slug } = Astro.params;
const { title, collection } = Astro.props;

const post = await getEntry("posts", slug);
const { Content, headings } = await post.render();
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <AuthorCard authorId={post.data.author.id} />
  <Content />
</BaseLayout>
