---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection(
    "posts",
    ({ data }) => data.isDraft === false
  );

  return paginate(posts, { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<BaseLayout title="Home">
  <ul>
    {
      page.data.map((p) => (
        <li>
          <a href={`/blog/${p.slug}/`}>Read Post</a>
        </li>
      ))
    }
  </ul>
  {page.url.prev && <a href={page.url.prev}>Prev</a>}
  {page.url.next && <a href={page.url.next}>Next</a>}
</BaseLayout>
