@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

nav,
footer {
  display: flex;
  gap: var(--size-4);
  justify-content: center;
  padding: var(--size-4);
  background-color: var(--surface-2);
  width: 100%;
}

main {
  padding: var(--size-4);
}
