---
import { Image } from "astro:assets";
import Katie from "../assets/image.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Image
      width={400}
      height={400}
      format="avif"
      quality={"max"}
      src={Katie}
      alt="Katie Haus"
      aria-hidden="true"
    />
  </body>
</html>
