---
export const prerender = false;

import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const team = await getCollection("team");
const posts = await getCollection(
  "posts",
  ({ data }) => data.isDraft === false
);
---

<BaseLayout title="Home">
  <h1>Homepage</h1>
  <ul>
    {
      team.map((t) => (
        <li>
          <p>{t.data.name}</p>
          <p>{t.data.role.id}</p>
        </li>
      ))
    }
  </ul>
  <ul>
    {
      posts.map((p) => (
        <li>
          <a href={p.slug}>Read Post</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
