---
import Button from "../components/Button.astro";
import { Icon } from "astro-icon";
import Heading from "../components/Heading.astro";

const headings = [
  {
    tagName: "h1",
    size: "h2",
    text: "Heading 1",
  },
  {
    tagName: "h2",
    size: "h5",
    text: "Heading 2",
  },
  {
    tagName: "h3",
    size: "h6",
    text: "Heading 3",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    {
      headings.map((heading) => (
        <>
          <p>hi</p>
          <Heading tagName={heading.tagName} size={heading.size}>
            {heading.text}
          </Heading>
        </>
      ))
    }
  </body>
</html>
