---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const team = await getCollection("team");
const posts = await getCollection("posts");
---

<BaseLayout title="Home">
  <h1>Homepage</h1>
  <ul>
    {team.map((t) => <li>{t.data.name}</li>)}
  </ul>
  <ul>
    {
      posts.map((p) => {
        return <li>{p.data.author.id}</li>;
      })
    }
  </ul>
</BaseLayout>
