---
import { Image } from "astro:assets";

import Katie from "../assets/image.jpg";
import { getEntry } from "astro:content";
import ReactWrapper from "../components/ReactWrapper";

const post = await getEntry("posts", "1");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <p>Local</p>
    <Image
      src={Katie}
      alt="Katie Haus"
      widths={[240, 540, 720, Katie.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Katie.width}px`}
    />
  </body>
</html>
