---
import Link from "../components/Link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const res = await fetch("https://jsonplaceholder.typicode.com/todos/1");

const data = await res.json();
---

<BaseLayout title="myTitle">
  <div>
    <h1>sidebar</h1>
    <Link href="/about">about</Link>
  </div>
</BaseLayout>
