---
// components
import PricingCard from "../components/PricingCard.astro";

// data
import pricingCardData from "../data/cardData.json";

// types
export type Card = {
  tier: string;
  most_popular: boolean;
  amount_per_month: number;
  title: string;
  description: string;
  btn_text: string;
  features: {
    title: string;
    checked: boolean;
  }[];
};

// style imports
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <div class="card-wrapper">
        {pricingCardData.map((card: Card) => <PricingCard data={card} />)}
      </div>
    </main>
    <style>
      main {
        display: grid;
        place-items: center;
        min-height: 100vh;
        padding: var(--space--xl);
      }
      .card-wrapper {
        display: flex;
        gap: var(--space--xl);
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
      }
    </style>
  </body>
</html>
