---
import LinkCard from "@/components/LinkCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="grid gap-6 grid-cols-[repeat(auto-fit,_minmax(280px,_1fr))] items-start"
  >
  </div>
</BaseLayout>
