---
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import AuthorCard from "../components/AuthorCard.astro";

const post = await getEntry("posts", "post-1");
const { Content, headings } = await post.render();
---

<BaseLayout title="Home">
  <h1>{post.data.title}</h1>
  <AuthorCard authorId={post.data.author.id} />
  <Content />
</BaseLayout>
