---
import BaseLayout from "@/layouts/BaseLayout.astro";

// components
import Hero from "@/components/projects/hero.astro";
import ContactForm from "@/components/ContactForm.astro";
import { getCollection } from "astro:content";
import ProjectTile from "@/components/ui/ProjectTile.astro";
import { Icon } from "astro-icon/components";

const allTools = await getCollection("tools");
const projects = await getCollection("projects");
---

<BaseLayout
  title="Katie Haus Projects"
  description="Here are some recent projects I’ve done for clients."
>
  <div>
    <Hero />
    <div class="container">
      <div class="filter-wrapper">
        <div class="columns">
          <p>Filter by tools</p>
          <!-- check if there are filters -->
          <button class="btn badge relative" aria-pressed="true">
            <Icon
              name="icon--close"
              aria-hidden="true"
              size={18}
              class="close"
            />
            <span>Clear All</span>
          </button>
        </div>
        <ul>
          {
            allTools.map((t) => (
              <li>
                <button
                  class="btn badge relative"
                  data-tool="t.id"
                  aria-pressed="true"
                >
                  <span>{t.data.title}</span>
                  <Icon
                    name="icon--close"
                    aria-hidden="true"
                    size={18}
                    class="close"
                  />
                </button>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="grid-wrapper">
        {projects.map(({ data }) => <ProjectTile data={data} />)}
      </div>
    </div>
  </div>
  <ContactForm />
</BaseLayout>
