---
const { classes, theme, ...rest } = Astro.props;
---

<button class:list={["btn", classes, theme]} {...rest}>
  <slot />
</button>

<style>
  .btn {
    --local_bkg: var(--clr-bkg);
    --local_color: var(--clr-text);
    --local_border: var(--clr-text);
    font: inherit;
    color: var(--local_color);
    text-transform: uppercase;
    padding: var(--space--md);
    background-color: var(--local_bkg);
    border-radius: var(--rounded);
    border: 2px solid var(--local_border);
    cursor: pointer;
    transition:
      opacity 250ms ease-in-out,
      scale 250ms ease-in-out,
      box-shadow 250ms ease-in-out;

    &:hover {
      opacity: 0.8;
      scale: 1.02;
    }
    &:focus {
      outline-color: transparent;
    }
    &:focus-visible {
      box-shadow:
        0 0 0 2px var(--clr-bkg),
        0 0 0 4px var(--local_border);
    }
  }

  .pro {
    --local_bkg: var(--clr-accent-purple);
    --local_border: var(--clr-accent-purple);
    --local_color: var(--clr-bkg);
  }

  .btn.enterprise {
    --local_border: var(--clr-accent-yellow);
    --local_color: var(--clr-accent-yellow);
  }
</style>
