---
const btnVarieties = {
  default: "btn--default",
  icon: "btn--icon",
};

const {
  classes,
  variety = "default",
  isBordered,
  background = "hsl(130, 50%, 50%)",
  color = "hsl(130, 50%, 2%)",
  ...rest
} = Astro.props;
---

<button
  class:list={["btn", classes, btnVarieties[variety], { border: isBordered }]}
  {...rest}
>
  <slot />
</button>

<style
  define:vars={{
    background,
    color,
  }}
>
  .btn {
    font: inherit;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
    border: none;
    background: var(--background);
    color: var(--color);
  }
  .btn--default {
    padding: 4px 16px;
  }
  .btn--icon {
    aspect-ratio: 1/1;
  }
  .border {
    border: 1px solid red;
  }
</style>
